.search-result:before {
  content: "";
  display: inline-block;
  height: 50px;
  width: 50px;
  background: url("./pokeball.jpg") no-repeat 0 0;
  background-size: 50px 50px;
}

.search-result {
  transition: 600ms;
  min-width: 152px;
  margin-top: 6px;
  position: relative;
  cursor: pointer;
  color: rgba(255, 136, 0, 0.863);
  font-size: 1.5rem;
  display: flex;
  justify-content: left;
  align-items: center;
  font-weight: 600;
}

.search-result:hover {
  transition: 600ms;
  background-color: rgba(172, 233, 59, 0.842) !important;
  margin-left: -16px;
  border-radius: 12px;
  padding: 12px;
}

.pokePic {
  width: 80px;
  margin: -16px;
  float: left;
  display: inline-block;
}
