.pokemon-list-item {
  display: inline-flex;
  border: solid 1px black;
  margin-right: 1rem;
  color: rgb(255, 94, 0);
  font-weight: 700;
  border-radius: 0.5rem;
}
.pokemon-list-item::before {
  content: "";
  display: inline-block;
  height: 50px;
  width: 50px;
  background: url("./pokeball.jpg") no-repeat 0 0;
  background-size: 50px 50px;
  margin: -10px;
}
